<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pcommon.test">
    <!-- 添加权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VOLUME_CHANGED_ACTION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.pcommon.application.AppApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="${icon}"
        android:label="${app_name}"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">
        <activity
            android:name=".NettyServerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NettyClientActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 屏幕适配配置参数 -->

        <meta-data
            android:name="design_width_in_dp"
            android:value="1920" />

        <activity android:name=".TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.pcommon.lib_common.receiver.UsbChangeReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>